#app {
    max-width: 90%;
    margin: 0 auto;
}

#app .el-date-editor.el-input, #app .el-date-editor.el-input__wrapper {
    width: auto;
}

#app .md-editor-toolbar-wrapper, #app .md-editor-footer, #app .md-editor-input-wrapper {
    display: none;
}

#app #textareaIn {
    max-height: 625px;
}

#app #md-editor-v3 {
    max-height: 625px;
}

#app #md-editor-v3-preview {
    padding: 5px 11px;
}

#app .tools {
    margin: 0px;
}

#app .tools .el-checkbox__inner {
    display: none;
}
